<h1>Restablece tu contraseña</h1>
<div>
    <form method="post" action="/api/session/forgot?token={{token}}">
    <input type="text" placeholder="email" name="email"/><br>
    <input type="password" placeholder="nueva contraseña" name="newpassword"/><br>
    <button type="submit">restablecer</button>
    </form>
</div>