<h1>Bienvenido a tu Perfil</h1>
<h2>Estas logeado como: {{data.user}} y tu perfil es: {{data.rol}}</h2>
    <div>
        <form method="post" action="/api/session/logout">
        <button type="submit">Log out!</button>
        </form>
    </div>