<h1>Formulario para recuperar contraseña</h1>
<p>Completa tu correo electronico a continuación y te enviaremos un email con las instrucciones para restablecer la contraseña</p>
<div>
    <form method="post" action="/api/session/resendpass">
    <input type="text" placeholder="email" name="email"/><br>
    <button type="submit">Enviar correo</button><br>
    </form>
</div>